.price .items{
	padding: 40px;
	text-align: center;
	background-color: #f6f9fc;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	display: grid;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.price h1{
	font-size: 50px;
	margin: 20px 0;
	color: teal;
}

.price h1 span{
	font-size: 20px;
	margin-right: 5px;
	color: black;
}

.price p{
	color: grey;
	margin: 40px 0;
}

.price-card-container{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 50px;
	margin-top: 50px;
	padding: 0 85px;
}

/* faq faq faq  */

.faq .container{
max-width: 70%;
border-radius: 5px;
}

.faq .box{
	background-color: #fff;
	margin-bottom: 20px;
}

.faq button{
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 15px 20px;
}

.faq h2{
	font-weight: 500;
}

.faq p{
	padding: 20px;
}

.faq .according:hover{
	background-color: teal;
	color: #fff;
}

/* faq end ends faq  */

